<div class="row p-3 mx-auto">

  <div class="col-lg-3 col-10 mx-auto mt-5">
    <div class="row p-3 mx-auto text-center">
      <p>
        <%#= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: image_url("coffee_2.jpg"), size:'100x100', class:"mt-3 rounded-circle"%>
        <% if @user.profile_image.present? %>
          <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, class:"rounded-circle"%>
        <% else %>
          <%#= image_tag asset_path('coffee_2.jpg'), size:'100x100', class:"rounded-circle" %>
        <% end %>
      </p>
      <h6><%= @user.name %></h6>
    </div>

    <!--投稿ボタン-->
    <div class="row p-3 mx-auto text-center border-top">
      <%= link_to '投稿する', new_cafe_path, class: "btn btn-light mx-auto" %>
    </div>

    <!--ログインユーザーと同じであれば、編集・削除ボタンを表示する-->
    <% if @user.id == current_user.id %>
      <%= render 'edit', user: @user %>
    <% end %>

  </div>

<!--ユーザーの投稿一覧-->
  <div class="col-lg-9 col-12">
    <div class="card-list-container">
      <% @cafes.each do |cafe| %>
        <%= render 'caves/card', cafe: cafe %>
      <% end %>
    </div>
  </div>

</div>


