<div class="card-list-container">
  <% cafes.each do |cafe| %>

  <%= link_to cafe_path(cafe) do %>
  <div class="card m-5 mx-auto shadow", style="width: 30rem" >
    <%= attachment_image_tag cafe, :tea_image, class: "card-img-top" %>
   <% end %>

    <div class="card-body">
      <div class="row">
        <div class="col-5" >
          <p class="m-1"><i class="fas fa-coffee"></i> <%= cafe.tea %></p>
          <p class="m-1"><i class="fas fa-cookie-bite"></i> <%= cafe.teacake %></p>
        </div>
        <div class="col-1 offset-6">
          <p>♡</p>
        </div>
      </div>

      <div class="row">
        <div class="col-4 col-sm-6">
          <p class="m-1"><i class="fas fa-user"></i> <%= cafe.user.name %></p>
        </div>
        <% if (controller.action_name == "show") %>
        <div class="col-6 col-sm-6">
          <%= cafe.comment %>
        </div>
        <% end %>
      </div>
    </div>

  </div>
  <% end %>
</div>
