  <div class="card m-5 mx-auto shadow", style="width: 30rem" >
    <div class="card-header">
      <%= cafe.category.category %>
    </div>
    <%= link_to cafe_path(cafe) do %>
      <%= attachment_image_tag cafe, :tea_image, class: "card-img-top" %>
    <% end %>


    <div class="card-body">
      <div class="row">
        <div class="col-5" >
          <p class="m-1"><i class="fas fa-coffee"></i> <%= cafe.tea %></p>
          <p class="m-1"><i class="fas fa-cookie-bite"></i> <%= cafe.teacake %></p>
        </div>

        <!--ログインユーザーであれば編集/削除ボタン/いいね表示のみ、その他であればいいねボタンリンクを表示-->
        <div class="col-2 offset-5">
        <% if (controller.controller_name == "caves") && (controller.action_name == "show") && (cafe.user_id == current_user.id) %>
          <p class="m-0"><%= cafe.favorites.count %>いいね</p>
          <%= link_to edit_cafe_path(cafe), class: "link p-1" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to cafe_path(cafe), method: :delete, class: "link p-1", data: { confirm: "投稿を削除してもよろしいですか？" } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>

        <% elsif ((controller.action_name == "index")||(controller.controller_name == "users"))&& (cafe.user_id == current_user.id) %>
          <p class="m-0"><%= cafe.favorites.count %>いいね</p>

        <% else %>
          <span id="cafe_<%= cafe.id %>"><%= render "favorites/favorite_btn", cafe: cafe %></span>
        <% end %>
        </div>
      </div>

      <!--カード下部の名前・コメント表示-->
      <div class="row border-top">
        <div class="col-3">
          <%= link_to user_path(cafe.user), class: "link" do %>
            <p class="m-1">
              <% if cafe.user.profile_image.present? %>
                <%= attachment_image_tag cafe.user, :profile_image, :fill, 30, 30, class:"rounded-circle"%>
              <% else %>
                <%= image_tag asset_path('coffee_2.jpg'), size:'30x30', class:"rounded-circle" %>
              <% end %>
              <%= cafe.user.name %>
            </p>
          <% end %>
        </div>
        <% if (controller.controller_name == "caves") && (controller.action_name == "show") %>
        <div class="col-8 m-2">
          <%= cafe.comment %>
        </div>
        <% end %>
      </div>

      <% if (controller.controller_name == "caves") && (controller.action_name == "show") %>
        <!--投稿に対するコメント表示-->
        <% comments.each do |comment| %>
          <span id="comment_<%= comment.id %>"><%= render 'caves/comment', comment: comment, cafe: cafe %></span>
        <% end %>

        <!--コメント投稿機能-->
        <div class="row">
          <%= form_with model:[cafe,comment], local:true do |f| %>
            <div class="row">
            <%= f.label :comment, "コメント(100字以内)" %>
            <%= f.text_area :comment, class: "form-control" %>
            </div>
            <div class="row d-flex justify-content-end">
            <%= f.hidden_field :cafe_id, value: params[:id] %>
            <%= f.submit '投稿', class: "btn btn-sm btn-secondary col-3 p-1" %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>

  </div>
