  <%= link_to cafe_path(cafe) do %>
  <div class="card m-5 mx-auto shadow", style="width: 30rem" >
    <%= attachment_image_tag cafe, :tea_image, class: "card-img-top" %>
   <% end %>

    <div class="card-body">
      <div class="row">
        <div class="col-5" >
          <p class="m-1"><i class="fas fa-coffee"></i> <%= cafe.tea %></p>
          <p class="m-1"><i class="fas fa-cookie-bite"></i> <%= cafe.teacake %></p>
        </div>

        <!--ログインユーザーであれば編集ボタン、他人であればいいねボタンを表示-->
        <div class="col-2 offset-5">
        <% if (controller.action_name == "show") && (cafe.user_id == current_user.id) %>
          <%= link_to edit_cafe_path(cafe), class: "link" do %>
            <i class="fas fa-edit"></i>編集
          <% end %>
        <% else %>
          <p>♡</p>
        <% end %>
        </div>
      </div>

      <div class="row">
        <div class="col-4">
          <p class="m-1"><i class="fas fa-user"></i> <%= cafe.user.name %></p>
        </div>
        <% if (controller.action_name == "show") %>
        <div class="col-7">
          <%= cafe.comment %>
        </div>
        <% end %>
      </div>
    </div>

  </div>
