<%= form_with model: cafe, method: method, local:true do |f| %>
  <div class="row">
    <small class="col-12 p-3 text-center">*は必須項目です</small>
    <div class="form-group col-md-7 col-sm-12 mx-auto p-3">
      <%= f.label :category_id , "*カテゴリー" %>
      <%= f.collection_select :category_id, Category.all, :id, :category, class: "form-control select-form" %>
    </div>

    <div class="form-group col-md-7 col-sm-12 mx-auto p-3">
      <%= f.label :tea_image_id, "*写真" %>
      <%= f.attachment_field :tea_image, class: "form-control" %>
    </div>
    <div class="form-group col-md-7 col-sm-12 mx-auto p-3">
      <%= f.label :tea, "*飲み物(15文字まで)" %>
      <%= f.text_field :tea, class: "form-control" %>
    </div>
    <div class="form-group col-md-7 col-sm-12 mx-auto p-3">
      <%= f.label :teacake, "お茶のお供(15文字まで)" %>
      <%= f.text_field :teacake, class: "form-control" %>
    </div>
    <div class="form-group col-md-7 col-sm-12 mx-auto p-3">
      <%= f.label :comment, "このカフェタイムのポイント(100文字まで)" %>
      <%= f.text_area :comment, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-7 col-sm-12 mx-auto p-3">
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit submit, class: "btn btn-secondary" %>
    </div>
  </div>
<% end %>