  <div class="footer">
    <ul class="navbar-nav">
      <li class="navbar-item">
        <%= link_to 'マイページ', mypage_path(current_user), class: 'nav-link active' %>
      </li>
      <li class="navbar-item">
        <%= link_to 'おうちカフェ', caves_path, class: 'nav-link active' %>
      </li>
      <li class="navbar-item">
        <%= link_to '街カフェ', caves_path, class: 'nav-link active' %>
      </li>
      <li class="navbar-item">
        <%= link_to '自然カフェ', caves_path, class: 'nav-link active' %>
      </li>
      <li class="navbar-item">
        <%= link_to '会社カフェ', caves_path, class: 'nav-link active' %>
      </li>
    </ul>

  </div>
